* {
  box-sizing: border-box;
}

.project-header {
  font-family: "Lato", Sans-serif;
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
  margin-left: 10%;
  width: 80%;
}

.text {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  margin-bottom: 20px;
}

.title {
  color: white;
  font-family: "Lato", Sans-serif;
  max-width: 70%;
}
.text-desc {
  color: white;
  font-family: "Lato", Sans-serif;
  max-width: 90%;
  line-height: 1.6;
}

a {
  color: #5582f6;
  text-decoration: none;
}

.text-item {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.item-header{
  padding: 14px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 2.3vh;
}
.item-subheader {
  font-family: "Lato", Sans-serif;
  font-style: italic;
  color: #bbb;
  margin-left: auto;
  margin-right: 30px;
  text-align: right; 
  font-size: 2vh; 
}
.icon{
  width: 28px;
  height: 28px;
  border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
}
.text-desc {
  color: #bbb;
  padding: 0 6px;
  max-height: 0px;
  overflow: hidden;
}
.text-desc b {
  color: white;
}

.text-item.active .text-desc {
  max-height: 600px;
  transition: 0.7s linear;
}

@media screen and (max-width: 600px) {
  .title {font-size: 2.7vh;}
  .item-header {display: inline-block;}
  .item-subheader {text-align: left; margin-top: 6px;
    margin-bottom: 3px;}
  .text-item { padding: 5px; }
}