.project-header {
  font-family: "Lato", Sans-serif;
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
}
.roblox-pics {
  background-color:#ffffff;
  background-image: url("images/roblox/2.png");
  background-size: cover;
  background-position: 40%;
  position: relative;
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  height: 200px;
  transition: all 0.2s ease-in-out;
}
.pic-caption {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 2%;
  font-family: "Lato", Sans-serif;
}
.roblox-pics1 {
  background-color:#5582f6;
  width: 100%;
  height: 300px;
}

.stats {
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  height: 100px;
}
.stats-box {
  font-family: "Lato", Sans-serif;
  font-size: 2vh;
  text-align: center;
  width: 33.33%;
  float: left;
  height: 100%;
}

@media screen and (max-width: 450px) {
    .stats-box {font-size: 1.5vh;}
  }